<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="serviceDetails">
      <h2 data-cy="serviceDetailsDetailsHeading"><span>Service Details</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ serviceDetails.id }}</span>
        </dd>
        <dt><span>Comments</span></dt>
        <dd>
          <span>{{ serviceDetails.comments }}</span>
        </dd>
        <dt><span>Service Id</span></dt>
        <dd>
          <div *ngIf="serviceDetails.serviceId">
            <a [routerLink]="['/service', serviceDetails.serviceId?.id, 'view']">{{ serviceDetails.serviceId?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/service-details', serviceDetails.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
