<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="service">
      <h2 data-cy="serviceDetailsHeading"><span>Service</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ service.id }}</span>
        </dd>
        <dt><span>Service Name</span></dt>
        <dd>
          <span>{{ service.serviceName }}</span>
        </dd>
        <dt><span>Service Type Id</span></dt>
        <dd>
          <div *ngIf="service.serviceTypeId">
            <a [routerLink]="['/service-type', service.serviceTypeId?.id, 'view']">{{ service.serviceTypeId?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/service', service.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
