<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-service-heading" data-cy="ServiceCreateUpdateHeading">Create or edit a Service</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_serviceName">Service Name</label>
          <input
            type="text"
            class="form-control"
            name="serviceName"
            id="field_serviceName"
            data-cy="serviceName"
            formControlName="serviceName"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_serviceTypeId">Service Type Id</label>
          <select
            class="form-control"
            id="field_serviceTypeId"
            data-cy="serviceTypeId"
            name="serviceTypeId"
            formControlName="serviceTypeId"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                serviceTypeOption.id === editForm.get('serviceTypeId')!.value?.id ? editForm.get('serviceTypeId')!.value : serviceTypeOption
              "
              *ngFor="let serviceTypeOption of serviceTypesSharedCollection; trackBy: trackServiceTypeById"
            >
              {{ serviceTypeOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
